body {
  background: #f9f9f9;
}

.menu-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;

  background-color: rgba(255, 255, 255, 0.9);

  position: fixed;
}

.logo {
  background-color: yellowgreen;
  width: 100px;
  height: 30px;
}

.busca {
  background-color: rgb(32, 155, 192);
  width: 100px;
  height: 30px;
}

.login {
  background-color: rgb(146, 41, 179);
  width: 100px;
  height: 30px;
}

.corpo {
  padding-top: 60px;
  display: flex;
}

.barra-lateral {
  width: 100px;
  height: 100%;

  background-color: purple;

  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
}

.botao {
  width: 100px;
  height: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botao:hover {
  background-color: grey;
  cursor: pointer;
}

.icon-botao {
  width: 26px;
  height: 26px;
}

.conteudo {
  margin-top: 45px;
  padding-left: 100px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-left: 15px;
}

h2 {
  font-size: 18px;
  margin-bottom: 18px;
}

.ml-15 {
  margin-left: 15px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
}

.video {
  width: 300px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.thumbnail {
  position: relative;
}

.video img {
  width: 300px;
  height: 200px;
}

.video span {
  background-color: red;

  position: absolute;
  right: 10px;
  bottom: 10px;
}

.info-video,
h1,
h2,
.botao {
  font-family: Arial;
}

.titulo-video {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 8px;
}

.canal-video {
  font-size: 13px;
  color: grey;
}
/* .visualizacao {
  font-size: 13px;
  color: grey;
}
.data {
  font-size: 13px;
  color: grey;
} */

@media (max-width: 800px) {
  .barra-lateral {
    display: none;
  }
}

@media (max-width: 700px) {
  .corpo {
    justify-content: center;
  }

  .videos {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
