body {
  background: #f9f9f9;
}

h1 {
  font-size: 24px;
  font-family: Arial;
}

h2 {
  font-size: 18px;
  font-family: Arial;
}

.info-video {
  font-family: Arial;
}

.titulo-video {
  font-weight: bold;
  font-size: 15px;
}

.canal-video {
  font-size: 13px;
  color: grey;
}
.visualizacao {
  font-size: 13px;
  color: grey;
}
